<!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <title>Πληροφορίες</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>
    <p>Πληροφορίες λαυοθτ</p>
    {{{body}}}
    <script src='/javascripts/bundle.js'></script>
  </body>
  </html>
  {{!-- μαγκοσ ιωαννης 16 εμα λαγος --}}