/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

a {
  color: #00B7FF;
}

body {
  background: Gainsboro; /* full background lightest grey */
}
.light {
  background-color: white;
}

.dark {
  background-color: yellow;
}

.form-signin {
  background: White; /* white background */
  max-width: 60%; /* limit width */
  margin: 0 auto; /* center */
  padding: 2%;
}

pre {
  font-family: monospace;
}

.fitContent{
  min-width:fit-content;
  width:70%;
}